# Part 1

In [82]:
import pandas as pd

In [83]:
with open('data.txt', 'r') as f:
  data = f.read().splitlines()

In [84]:
res_list = []

for line in data:
  _, results = line.strip().split(':')
  results = results.strip().split("|")
  res = {'nice_nums':results[0], 'naughty_nums':results[1]}
  res_list.append(res)

In [95]:
df = pd.DataFrame(res_list)
df

,nice_nums,naughty_nums
0,29 21 67 44 6 13 68 15 60 79,75 44 60 30 10 68 40 70 36 79 3 13 64 15 4 ...
1,15 61 5 39 42 79 4 81 72 89,74 79 20 81 72 85 25 76 36 49 51 18 34 90 57 ...
2,75 31 33 22 49 70 37 98 92 94,1 87 73 92 57 94 84 10 5 79 69 74 96 37 40 ...
3,76 59 23 34 55 41 47 92 58 5,16 70 56 19 79 30 85 58 88 75 71 5 8 64 12 ...
4,48 77 74 18 44 34 71 38 67 1,8 78 73 19 39 50 11 54 69 37 79 18 66 77 52 ...
...,...,...
209,31 59 3 38 30 69 84 24 48 20,82 87 98 38 13 64 63 55 68 49 8 26 76 58 81 ...
210,99 37 92 70 2 88 33 84 63 9,50 24 57 65 51 15 21 12 7 23 49 77 60 71 67 ...
211,38 22 26 25 62 17 71 88 31 86,66 64 9 75 74 35 15 33 56 59 98 70 94 73 24 ...
212,67 96 40 18 19 51 28 23 36 47,61 99 58 43 95 81 16 24 65 9 54 4 87 84 32 ...
213,11 74 92 36 26 68 78 73 5 80,67 15 3 22 46 41 87 64 53 89 52 85 99 61 84 ...

In [96]:
df['nice_nums_list'] = df['nice_nums'].str.split().apply(lambda x: list(map(int, x)))
df['naughty_nums_list'] = df['naughty_nums'].str.split().apply(lambda x: list(map(int, x)))

In [98]:
intersection = lambda list1, list2: list(set(list1).intersection(list2))

In [100]:
df['Intersection'] = df.apply(lambda row: intersection(row['nice_nums_list'], row['naughty_nums_list']), axis=1)

In [108]:
def calculate_score(row):
  if len(row) == 0:
    return 0
  else:
    return 2 ** (len(row)-1)

In [109]:
df['Score'] = df['Intersection'].apply(calculate_score)

In [111]:
df['Score'].sum()

23750

# Part 2

In [133]:
df['len'] = df['Intersection'].apply(len)

In [128]:
len_list = df['len'].tolist()
dic = {}
for i, j in enumerate(len_list):
  if i not in dic:
    dic[i] = 1
  for k in range(i + 1, i + j + 1):
    dic[k] = dic.get(k, 1) + dic[i]

In [126]:
sum(dic.values())

13261850

# Test example

In [132]:
test_len = [4, 2, 2, 1, 0, 0]
test_dic = {}
for i, j in enumerate(test_len):
  if i not in test_dic:
    test_dic[i] = 1
  for k in range(i + 1, i + j + 1):
    test_dic[k] = test_dic.get(k, 1) + test_dic[i]

sum(test_dic.values())

30